<CONFIG>
  <OPENTIMES DEFAULT="NORMAL">
    <!--一般日盘时间 
    大商所 M豆粕 Y豆油 A豆一 B豆二 P棕榈 J焦炭 JM焦煤 I铁矿
    郑商所 SR白糖 CF棉花 PTA甲酸 ME甲醇 RM菜粕
    -->
    <OPENTIME ID="NORMAL">
      <PERIOD START="0.09" END="0.1015" />
      <PERIOD START="0.103" END="0.113" />
      <PERIOD START="0.133" END="0.15" />
    </OPENTIME>
    <!--2004年11月30日前郑州开盘时间-->
    <OPENTIME ID="ZZ_EARLY">
      <PERIOD START="0.09" END="0.113" />
      <PERIOD START="0.133" END="0.15" />
    </OPENTIME>
    <!--2010年中前上期开盘时间-->
    <OPENTIME ID="SQ_EARLY">
      <PERIOD START="0.09" END="0.1015" />
      <PERIOD START="0.103" END="0.113" />
      <PERIOD START="0.133" END="0.141" />
      <PERIOD START="0.142" END="0.15" />
    </OPENTIME>
    <!--一般夜盘时间-->
    <OPENTIME ID="NIGHT">
      <PERIOD START="0.21" END="0.233" />
      <PERIOD START="0.09" END="0.1015" />
      <PERIOD START="0.103" END="0.113" />
      <PERIOD START="0.133" END="0.15" />      
    </OPENTIME>
    <!--20150511前大连夜盘到第二天两点半-->
    <OPENTIME ID="NIGHT_DL_EARLY">
      <PERIOD START="0.21" END="0.023" />
      <PERIOD START="0.09" END="0.1015" />
      <PERIOD START="0.103" END="0.113" />
      <PERIOD START="0.133" END="0.15" />
    </OPENTIME>
    <!--一般上期夜盘时间-->
    <OPENTIME ID="NIGHT_SQ">
      <PERIOD START="0.21" END="0.01" />
      <PERIOD START="0.09" END="0.1015" />
      <PERIOD START="0.103" END="0.113" />
      <PERIOD START="0.133" END="0.15" />      
    </OPENTIME>
    <!--上期金银夜盘时间-->
    <OPENTIME ID="NIGHT_AU">
      <PERIOD START="0.21" END="0.023" />
      <PERIOD START="0.09" END="0.1015" />
      <PERIOD START="0.103" END="0.113" />
      <PERIOD START="0.133" END="0.15" />      
    </OPENTIME>
    <!--上期天胶夜盘时间 -->
    <OPENTIME ID="NIGHT_RU">
      <PERIOD START="0.21" END="0.023" />
      <PERIOD START="0.09" END="0.1015" />
      <PERIOD START="0.103" END="0.113" />
      <PERIOD START="0.133" END="0.15" />      
    </OPENTIME>
    <!--上期螺纹钢、热卷、沥青现在的夜盘时间 RB HC BU
      从5月3日开始
      -->
    <OPENTIME ID="NIGHT_RB_NOW">
      <PERIOD START="0.21" END="0.23" />
      <PERIOD START="0.09" END="0.1015" />
      <PERIOD START="0.103" END="0.113" />
      <PERIOD START="0.133" END="0.15" />      
    </OPENTIME>
    <!--郑州停盘20111207-->
    <OPENTIME ID="ZZ_STOP1">
      <PERIOD START="0.09" END="0.10" />
      <PERIOD START="0.133" END="0.15" />
    </OPENTIME>
    <!--郑州停盘20150106日盘品种-->
    <OPENTIME ID="ZZ_STOP2">
      <PERIOD START="0.09" END="0.1006" />
      <PERIOD START="0.133" END="0.15" />
    </OPENTIME>
    <!--郑州停盘20150106夜盘品种-->
    <OPENTIME ID="ZZ_STOP2_NIGHT">
      <PERIOD START="0.21" END="0.0233" />
      <PERIOD START="0.09" END="0.1006" />
      <PERIOD START="0.133" END="0.15" />      
    </OPENTIME>
  </OPENTIMES>
  <!--以下日期内所有期货品种指定-->
  <HOLIDAY OPENID="NORMAL">
    <DATE TIME="20150105"></DATE>
    <DATE TIME="20150225"></DATE>
    <DATE TIME="20150407"></DATE>
    <DATE TIME="20150504"></DATE>
    <DATE TIME="20150623"></DATE>
    <DATE TIME="20150907"></DATE>
    <DATE TIME="20150928"></DATE>
    <DATE TIME="20151008"></DATE>
    <DATE TIME="20160104"></DATE>
    <DATE TIME="20160215"></DATE>
    <DATE TIME="20160405"></DATE>
    <DATE TIME="20160503"></DATE>
    <DATE TIME="20160613"></DATE>
    <DATE TIME="20160919"></DATE>
    <DATE TIME="20161010"></DATE>
    <DATE TIME="20170103"></DATE>
    <DATE TIME="20170203"></DATE>
    <DATE TIME="20170405"></DATE>
    <DATE TIME="20170502"></DATE>
    <DATE TIME="20170531"></DATE>
    <DATE TIME="20171009"></DATE>
  </HOLIDAY>
  <MARKETS OPENID="NORMAL">   
    <MARKET ID="DL" TIME="-">
      <!--<VARIETY ID="M,Y,A,B,JM,I,P,J" TIME="20150105-20150105" OPENID="NORMAL"></VARIETY>-->
      <!--2014年7月4日，大商所焦炭、棕榈油开启夜盘交易，但是数据提供商20140815才开始提供-->
      <VARIETY ID="P,J" TIME="20140815-20150508" OPENID="NIGHT_DL_EARLY"></VARIETY>
      <VARIETY ID="P,J" TIME="20140801-20140813" OPENID="NIGHT_DL_EARLY"></VARIETY>
      <!--20141229大商所上了6个品种 豆粕、豆油、黄大大豆号、黄大豆二号、焦煤和铁矿石-->
      <VARIETY ID="M,Y,A,B,JM,I" TIME="20141229-20150508" OPENID="NIGHT_DL_EARLY"></VARIETY>
      <!--从20150511开始，夜盘时间改为到晚上11点半-->
      <VARIETY ID="M,Y,A,B,JM,I,P,J" TIME="20150511-" OPENID="NIGHT"></VARIETY>
    </MARKET>
    <!--2010年6月25日前上期下午休息10分钟-->
    <MARKET ID="SQ" TIME="20040101-20100625" OPENID ="SQ_EARLY"/>
    <!--2010年6月28日后上期取消下午休息-->
    <MARKET ID="SQ" TIME="20100628-" OPENID="NORMAL">
      <!--上期所金银在2013年7月5日上线，但数据提供商20140815才提供商数据-->
      <!--2013年12月20日，上期所铜铝锌铅夜盘成功上市-->
      <VARIETY ID="AU,AG,AL,CU,PB,ZN" TIME="20140815-" OPENID="NIGHT_AU"></VARIETY>
      <!--此处是数据问题-->
      <VARIETY ID="AU,AG,AL,CU,PB,ZN" TIME="20140801-20140813" OPENID="NIGHT_AU"></VARIETY>
      <!--20141229上期所上市螺纹钢、热卷、沥青、天然橡胶-->
      <VARIETY ID="RB,HC,BU" TIME="20141229-20160430" OPENID="NIGHT_SQ"></VARIETY>
      <!--20141229上期所上市天胶，不过夜盘时间不一样-->
      <VARIETY ID="RU" TIME="20141229-" OPENID="NIGHT_RU"></VARIETY>
      <!--20150327上期所上市，但是20150330才开始第一天夜盘交易-->
      <VARIETY ID="NI,SN" TIME="20150330-" OPENID="NIGHT_SQ"></VARIETY>
      <!--20160503上期所修改螺纹钢、热卷、沥青的夜盘时间和天胶一致-->
      <VARIETY ID="RB,HC,BU" TIME="20160503-" OPENID="NIGHT_RB_NOW"></VARIETY>
    </MARKET>
    <MARKET ID="ZZ" TIME="-20041130" OPENID="ZZ_EARLY"/>
    <MARKET ID="ZZ" TIME="20111207-20111207" OPENID="ZZ_STOP1"/>
    <MARKET ID="ZZ" TIME="20150106-20150106" OPENID="ZZ_STOP2_NIGHT">
      <VARIETY ID="SR,CF,PTA,TA,ME,RM" TIME="20150106-20150106"></VARIETY>
    </MARKET>
    <MARKET ID="ZZ" TIME="20150106-20150106" OPENID="ZZ_STOP2">
    </MARKET>
    <MARKET ID="ZZ" TIME="-">
      <!--2014年12月12日，郑商所白糖、棉花、菜粕、甲醇和PTA5个期货夜盘交易品种一齐亮相-->
      <VARIETY ID="SR,CF,PTA,TA,MA,ME,RM" TIME="20141215-" OPENID="NIGHT"></VARIETY>
      <!--棉纱20170818上市-->
      <VARIETY ID="CY" TIME="20170818-" OPENID="NIGHT"></VARIETY>
      <!--郑商所于2015年6月11日21:00起开始菜籽油、玻璃和动力煤期货夜盘交易。
      夜盘交易时间为21:00至23:30。-->
      <!--TC标志在2015年5月15日修改成ZC-->
      <VARIETY ID="OI,FG,ZC,TC" TIME="20150612-" OPENID="NIGHT"></VARIETY>
    </MARKET>
  </MARKETS>
</CONFIG>