<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="srcDataPath" value="127.0.0.1"></add>
    <add key="pluginSrcDataPath" value="WarehouseDB"></add>
    <add key="dataCenterUri" value="sa"></add>
    <add key="updateFillUp" value="sa"></add>
  </appSettings>
</configuration>